/*  Add your styling here */
.navbar-brand {
    width: 100px;
}

.navbar-expand {
    -sm|-md|-lg|-xl|-xxl
}

h1 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.bottem-right {

}

.lead {
    font-size: 17px;
}